In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Analyst')

In [5]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys('Bangalore')

In [7]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [8]:
titles=[]
employer=[]
locations=[]
experience=[]

In [9]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="6be77ed7-c143-4386-9c38-06b46b4d1e95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="ee4c137f-8e66-4f95-a152-c5aa11b9bf3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="9b4134d4-c583-4492-9069-f95f6370c5c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="665fd39c-5976-4834-b00a-48e78e6dd74a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="8ba6dc77-830f-4cc8-9516-1288ef00f959")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="2ca50e51-1f61-4433-b6d3-72732d540921")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="d971034e-a894-44e6-bac2-9bde279d22c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="675953df-8878-4b91-b9ac-686f48cf5f2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="93021f14-2d23-47be-9b91-eb44f64c3882")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="cd452478-be8f-4cbd-b4bb-6887e2b98767")>]

In [10]:
for i in titles_tags:
    title=i.text
    titles.append(title)
titles=titles[0:10]
titles

['Business Data Analyst',
 'EY GDS Data Analyst-Finland based project',
 'Data Analyst - Data and Analytics',
 'Data Analyst - Data and Analytics',
 'Data Analyst (CSD)',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Data Analyst / Business Analyst',
 'Data Analyst',
 'SAS/SQL - Healthcare Data Analyst - Bangalore',
 'Business & Data Analyst - Alteryx (London)']

In [11]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="460a4144-1436-4d6d-bca2-858e2bf630ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="d89cbc7d-e85a-4813-bb90-05a4f9bc01b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="538be0cc-2618-4bf5-a8be-5fe72162f651")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="482f32ab-96e4-47bf-80fa-745cdb949dbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="c499b699-056e-40c9-9473-46e8a15aff7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="f776dae0-f2d4-4f86-bf65-a1056f14bbc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="36291049-d6af-4f24-81a8-1e855e7b45e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="37a2510f-00de-4fb0-8781-e9901fbdc2a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="6616e42a-5896-45a5-a809-99f5121d8628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="2b6b967d-8a7a-4f7a-abb2-eebcacc9a9f3")>]

In [12]:
for i in companies_tags:
    title=i.text
    employer.append(title)
employer=employer[0:10]
employer

['NXP Semiconductors',
 'EY',
 'Intel',
 'Intel',
 'Siemens',
 'Rise Finconnect Private Limited',
 'METRO Cash & Carry',
 'Cigna TTK',
 'Genpact',
 'Imaginative Brains LLP']

In [13]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="7d463051-c7de-4ac1-87e0-16c484c830ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="ac881532-b81e-45e4-9212-d66121210524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="d14d6d19-566e-4ae2-8276-ea928aeaf314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="eff84a95-a279-4e5e-81d8-1db4a993cdac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="ccd65ea8-b080-44e3-be6f-96f23c5be675")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="01d991d1-2326-40fb-bae9-3e8cd26c4f11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="5030c1b2-57df-4a0a-b4f7-436a8f52cfc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="cc2af35f-736b-4f2d-bef1-c93e800f5bcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="630c93eb-b7b4-46af-bdf3-36245c5c57df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="4204e5ad-10c4-4c9e-aeef-ca5fba014b88")>]

In [14]:
for i in loc_tags:
    title=i.text
    locations.append(title)
locations=locations[0:10]
locations

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [15]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="d65dfb40-6e0a-43b0-98cf-9845e86a22d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="615a3151-c237-4a1a-abc2-54b22ab25fec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="77037189-b85a-4d0c-a94e-58a8ddd2bfc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="7e29face-0932-47fd-8056-7fb2bbfecba3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="f8d76a94-be2e-4b19-9d9e-0afc26a6244f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="c88a488a-af3a-4073-b181-fea5a4220f26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="7ef1d692-d552-4d3d-9041-3033dd5174d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="1528e625-b9e8-4a1f-a373-28e7520dc48e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="66844917-bf51-4225-857d-064fdb43b52e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ad333c29a9bd23eb838074a796095e3", element="3c5c9b06-22eb-4e02-b649-ba0e39030f9b")>]

In [16]:
for i in exp_tags:
    title=i.text
    experience.append(title)
experience=experience[0:10]
experience

['2-5 Yrs',
 '0-1 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '7-10 Yrs',
 '5-10 Yrs']

In [17]:
print(len(titles),len(employer),len(locations),len(experience))

10 10 10 10

In [18]:
#Creating DataFrame


naukri = pd.DataFrame({'Job-Title': titles,'Job-Location':locations, 'Company_Name': employer, 'Experience_required': experience})
naukri

,Job-Title,Job-Location,Company_Name,Experience_required
0,Business Data Analyst,Bangalore/Bengaluru,NXP Semiconductors,2-5 Yrs
1,EY GDS Data Analyst-Finland based project,Bangalore/Bengaluru,EY,0-1 Yrs
2,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
3,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
4,Data Analyst (CSD),Bangalore/Bengaluru,Siemens,2-6 Yrs
5,"Data Analyst - Data Science, 3 To 5 Years",Bangalore/Bengaluru,Rise Finconnect Private Limited,2-6 Yrs
6,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,Cigna TTK,2-4 Yrs
8,SAS/SQL - Healthcare Data Analyst - Bangalore,Bangalore/Bengaluru,Genpact,7-10 Yrs
9,Business & Data Analyst - Alteryx (London),"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Imaginative Brains LLP,5-10 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [19]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [20]:
driver.get('https://www.naukri.com/')

In [21]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Scientist')

In [22]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys('Bangalore')

In [23]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [24]:
titles=[]
employer=[]
locations=[]

In [25]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="96f51744-f514-4d83-91a4-b839c2fad986")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="ead5078e-327a-43a5-8314-cb78e6ab8daa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="a658fd35-baaa-45a7-a48e-810391dc5316")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="4e81e2a4-82f0-4bbf-9ead-f4f6b4b5f466")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="fc2d0f45-47f7-43e1-b27f-d67ef6054e66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="b99e9a1b-1835-436f-84a0-2f15f4f8130c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="09f55796-d2a2-450c-b62d-83cdf0a43e24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="389837f8-e5e9-4fc2-b29b-f8f42281566e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="f5e7e470-4802-4366-b266-096790c58d52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="7548688c-364e-484a-9a6c-ab602460caa8")>]

In [26]:
for i in titles_tags:
    title=i.text
    titles.append(title)
titles=titles[0:10]
titles

['Senior Data Scientist',
 'Data Science - Engineering Manager',
 'AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'DATA Scientist with Fraud Analytics Experience',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Principal - Data Scientist']

In [27]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="582731de-ae1a-4541-b8c7-5576b42f4eb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="b4736248-e841-4c52-a675-2030688d3f6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="2db88a04-e3d6-4384-b6b8-7f19ca7a7628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="758d756a-5ccf-4ea3-a399-5e3f8a2cf05c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="eebeb6e3-b2bc-4c26-bb2a-2b433a88fb63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="c6aec560-80d4-4fa3-a14c-a5b5f2bb7ee6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="7cc6b80b-08d2-4aad-9cb9-890b859d1fd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="1b0d167e-02e7-4a87-bc78-629f81cf2e5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="22d0e73b-46be-4a0a-9e52-c48e67735cd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="59ef758f-d454-415e-be92-d6c5c69b9985")>]

In [28]:
for i in companies_tags:
    title=i.text
    employer.append(title)
employer=employer[0:10]
employer

['Baker Hughes',
 'Paytm',
 'Wipro',
 'Wipro',
 'Concentrix Daksh Services',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Schneider Electric']

In [29]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="8f23778d-3847-4c62-b392-88bf0aaea460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="1d169c8f-7615-4808-ab88-489879a29ed5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="528a955d-5f6e-4888-a9b1-648e86f8f2c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="883dba39-afe8-436c-90b9-ae673d44ef7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="bc0da381-bf21-4296-a037-756fbb81f6cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="c7a4fbdf-e979-4ac9-967d-09b2e167f58f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="8ad7ddb0-54bf-469a-b68d-5b7f13c9cb70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="52465a66-0cab-477f-80ed-396638e1ed61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="20cd8dea-c829-45da-940c-1c804178917e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="152bffcc47fb6790365840a2cb41aa4f", element="89577684-7b88-42a8-b84e-4f2a28763a1b")>]

In [30]:
for i in loc_tags:
    title=i.text
    locations.append(title)
locations=locations[0:10]
locations

['Mumbai, Bangalore/Bengaluru',
 'Noida, Mumbai, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [31]:
print(len(titles),len(employer),len(locations))

10 10 10

In [32]:
#Creating DataFrame


naukri = pd.DataFrame({'Job-Title': titles,'Job-Location':locations, 'Company_Name': employer})
naukri

,Job-Title,Job-Location,Company_Name
0,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes
1,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm
2,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro
3,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro
4,DATA Scientist with Fraud Analytics Experience,Bangalore/Bengaluru,Concentrix Daksh Services
5,Data Scientist,Bangalore/Bengaluru,Applied Materials
6,Data Scientist,Bangalore/Bengaluru,Applied Materials
7,Data Scientist,Bangalore/Bengaluru,Applied Materials
8,Data Scientist,Bangalore/Bengaluru,Applied Materials
9,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric

# Q3: In this question you have to scrape data using the filters available on the webpage:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required. 

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [33]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [34]:
driver.get('https://www.naukri.com/')

In [35]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Scientist')

In [36]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys('Delhi/NCR')

In [37]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [38]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
search_button.click()

In [39]:
titles=[]
employer=[]
locations=[]
experience=[]

In [40]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="7550c061-bc8a-47aa-988a-deb6d80c6bf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="f5b11407-20d2-48f5-9568-42746d38c897")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="e1c96e13-6aaf-4b30-9856-c83fa08c1fb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="50dbcb22-dbef-4fc0-9c80-5b092a96e52a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="da70c7d2-21d3-44e8-af03-0161607535fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="9a9eda23-0819-45fc-a47e-a7c11a17bbc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="02e966ac-d1b8-4c63-a055-004ba4d1dff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="f3feca8f-3050-4996-8c4c-65811dd70658")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="aca354f0-4bda-439e-9dd8-e5bc7f841cf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="2a0233ed-eb75-4a30-9661-520cfb8f4c2b")>]

In [41]:
for i in titles_tags:
    title=i.text
    titles.append(title)
titles=titles[0:10]
titles

['Job Opening with Wipro For Data Scientist position',
 'DATA Scientist with Fraud Analytics Experience',
 'Specialist - Data Scientist',
 'Data Scientist',
 'Hiring For AI/ML professionals',
 'Data Scientist',
 'Concentrix Hiring For AI Engineer Senior AI Developer Immediate Joiner',
 'Data Scientist',
 'Specialist - Data Science - GMO',
 'Data Scientist']

In [42]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="7318ce53-2e99-4edb-8040-aca8758a36c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="521efd64-646b-4627-a9f2-f3071811de8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="e7103738-7954-4586-82e5-9c9d4fd10538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="75267995-eb87-4604-b840-abc216a075f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="77cdf2d0-424c-44d7-9da1-ecc5741d1970")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="bacb2f47-c935-469e-a95b-0d15adedf08f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="4a0219cb-46bb-47b6-b626-0ccfa5a105db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="48731032-b3f2-4b6f-a050-601d838855f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="afcbccf9-2321-433a-a449-902115be6641")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="5cfaf69e-3304-4009-9b6e-274d20a4c86c")>]

In [43]:
for i in companies_tags:
    title=i.text
    employer.append(title)
employer=employer[0:10]
employer

['Wipro',
 'Concentrix Daksh Services',
 'AT and T Global Business Services India P. Ltd.',
 'UPL',
 'EY',
 'Infosys',
 'Concentrix',
 'Applied Materials',
 "Dr.Reddy's",
 'Rekruiters Resource Managment LLP']

In [44]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="ec4e74ff-6af5-4274-980a-5bd6045ecbc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="57ba1ae9-5bd0-44db-8897-9dd16a732c55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="a609e56c-6de7-4f38-835b-3e4d3cb0a702")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="db7c980b-008d-423c-9960-7739b8bc5280")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="433f30f8-f365-4075-81fb-e0097328f277")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="aad6611b-ecab-4e37-8c1e-8844175b39e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="1b5c193c-a5d6-44a7-8e50-a625f7875921")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="84dcb482-47b2-41ba-ac47-554bb4644287")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="65732e51-72c6-419d-9d9e-fe4288f20cbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="9774394b-1cb0-468e-b7f4-c7ff841bb1ac")>]

In [45]:
for i in loc_tags:
    title=i.text
    locations.append(title)
locations=locations[0:10]
locations

['Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Kochi/Cochin, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru']

In [46]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="89061e75-67f4-42d7-9b13-a482dd5dcfe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="6d9fa6ff-5d25-4dbc-b2dd-331eb1484e62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="c71d1a5c-df16-4acc-be29-fcd6d024758c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="5579280c-4398-444d-929d-ee9b38012b89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="1e0ae357-56e4-4ba1-829e-5ec2a1a87af7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="d8a6cb74-7a17-4325-aab5-b1398433d621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="0eb87994-476a-4c9a-a7fd-a78a2c3a7b94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="32e49778-3c1b-42d1-9d2d-95f4c8f842b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="b8233498-cecf-49db-b8a9-2b82f21388c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01a1c10b34a28a4eb55be2a2d64a214c", element="264b7dcc-2cb8-4ceb-8f40-6a81b987a706")>]

In [47]:
for i in exp_tags:
    title=i.text
    experience.append(title)
experience=experience[0:10]
experience

['2-7 Yrs',
 '2-4 Yrs',
 '1-4 Yrs',
 '2-7 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '4-7 Yrs',
 '2-6 Yrs',
 '4-8 Yrs']

In [48]:
print(len(titles),len(employer),len(locations),len(experience))

10 10 10 10

In [49]:
#Creating DataFrame


naukri = pd.DataFrame({'Job-Title': titles,'Job-Location':locations, 'Company_Name': employer, 'Experience_required': experience})
naukri

,Job-Title,Job-Location,Company_Name,Experience_required
0,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro,2-7 Yrs
1,DATA Scientist with Fraud Analytics Experience,Bangalore/Bengaluru,Concentrix Daksh Services,2-4 Yrs
2,Specialist - Data Scientist,Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.,1-4 Yrs
3,Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL,2-7 Yrs
4,Hiring For AI/ML professionals,"Kochi/Cochin, Bangalore/Bengaluru",EY,1-3 Yrs
5,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
6,Concentrix Hiring For AI Engineer Senior AI De...,Remote,Concentrix,3-8 Yrs
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
8,Specialist - Data Science - GMO,Hyderabad/Secunderabad,Dr.Reddy's,2-6 Yrs
9,Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Rekruiters Resource Managment LLP,4-8 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand
2. Product Description
3. Price
4. Discount %

In [50]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [51]:
driver.get('https://www.flipkart.com/')

In [52]:
login=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
login.click()

In [53]:
product_name=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product_name.send_keys('sunglasses')

In [54]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [55]:
brand=[]
prod_des=[]
price=[]
discount=[]

In [56]:
for i in range(0,3):
    names_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in names_tags:
        names=i.text
        brand.append(names)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    time.sleep(5)

In [57]:
brand=brand[0:100]

In [58]:
for i in range(0,3):
    descp_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in descp_tags:
        descp=i.text
        prod_des.append(descp)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    time.sleep(5)

In [59]:
prod_des=prod_des[0:100]

In [60]:
for i in range(0,3):
    amt_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in amt_tags:
        amount=i.text
        price.append(amount)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    time.sleep(5)

In [61]:
price=price[0:100]

In [62]:
for i in range(0,3):
    free_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in free_tags:
        free=i.text
        discount.append(free)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    time.sleep(5)

In [63]:
discount=discount[0:100]

In [64]:
print(len(brand),len(prod_des),len(price),len(discount))

100 100 100 100

In [65]:
#Creating DataFrame


sunglasses = pd.DataFrame({'Brand': brand,' Product Description':prod_des, 'Price': price, 'Discount': discount})
sunglasses

,Brand,Product Description,Price,Discount
0,Arnette,UV Protection Retro Square Sunglasses (Free Size),"₹2,879",77% off
1,Singco India,Others Oval Sunglasses (Free Size),₹664,49% off
2,SRPM,UV Protection Cat-eye Sunglasses (Free Size),₹211,80% off
3,Mi,UV Protection Rectangular Sunglasses (52),₹839,10% off
4,PIRASO,"UV Protection, Gradient Retro Square Sunglasse...",₹224,67% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Over-sized Sunglasses (61),₹399,70% off
96,New Specs,Polarized Rectangular Sunglasses (60),₹264,65% off
97,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (58),₹319,20% off
98,ROZZETTA CRAFT,UV Protection Shield Sunglasses (Free Size),₹499,20% off
99,GANSTA,"UV Protection, Gradient Oval Sunglasses (58)",₹314,10% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

We have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review

In [66]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [67]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [68]:
ratings=[]
short_review=[]
full_review=[]

In [69]:
for i in range(0,10):
    star_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in star_tags:
        rat=i.text
        ratings.append(rat)
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav")
    next_button.click()
    time.sleep(10)

In [70]:
print(len(ratings))

100

In [71]:
for i in range(0,10):
    short_rev_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in short_rev_tags:
        s_rev=i.text
        short_review.append(s_rev)
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav")
    next_button.click()
    time.sleep(10)

In [72]:
print(len(short_review))

100

In [73]:
for i in range(0,10):
    long_rev_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in long_rev_tags:
        l_rev=i.text
        full_review.append(l_rev)
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav")
    next_button.click()
    time.sleep(10)

In [74]:
print(len(full_review))

100

In [75]:
#Creating DataFrame


iphone11 = pd.DataFrame({'Rating': ratings,'  Review summary':short_review, 'Full review': full_review})
iphone11

,Rating,Review summary,Full review
0,5,Terrific purchase,Its Very awesome product working and good came...
1,5,Classy product,Best and amazing product.....phone looks so pr...
2,5,Brilliant,Excellent camera and display touching very nic...
3,5,Terrific,I got this beast today. And I must say the pic...
4,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
...,...,...,...
95,5,Awesome,"Always love the apple products, upgraded from ..."
96,3,Does the job,phone is good but in display is 720p lcd in th...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
99,5,Excellent,Its a fabulous mobile look awesome performance...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. Discount

In [76]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [77]:
driver.get('https://www.flipkart.com/')

In [78]:
login=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
login.click()

In [79]:
product_name=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product_name.send_keys('sneakers')

In [80]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [81]:
brand=[]
prod_des=[]
price=[]
discount=[]

In [82]:
for i in range(0,3):
    names_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in names_tags:
        names=i.text
        brand.append(names)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    time.sleep(5)

In [83]:
brand=brand[0:100]

In [84]:
for i in range(0,3):
    descp_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in descp_tags:
        descp=i.text
        prod_des.append(descp)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    time.sleep(5)

In [85]:
prod_des=prod_des[0:100]

In [86]:
for i in range(0,3):
    amt_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in amt_tags:
        amount=i.text
        price.append(amount)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    time.sleep(5)

In [87]:
price=price[0:100]

In [88]:
for i in range(0,3):
    free_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in free_tags:
        free=i.text
        discount.append(free)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    time.sleep(5)

In [89]:
discount=discount[0:100]

In [90]:
print(len(brand),len(prod_des),len(price),len(discount))

100 100 100 100

In [91]:
#Creating DataFrame


sneakers = pd.DataFrame({'Brand': brand,' Product Description':prod_des, 'Price': price, 'Discount': discount})
sneakers

,Brand,Product Description,Price,Discount
0,ZF - ALFIYA,Sneakers For Men,₹439,65% off
1,DOC Martin,Sneaker Sneakers For Men,"₹1,116",78% off
2,BRUTON,x KL Seattle Sneakers For Men,₹314,33% off
3,Magnolia,1259 smart black lace-ups sneakers for men Sne...,₹299,70% off
4,BIRDE,Sneakers For Men,₹399,57% off
...,...,...,...,...
95,RapidBox,516 Trendy Star Perfect Sneakers For Men,₹680,84% off
96,Kraasa,Kwik FIT casual sneaker shoes and partywear sh...,₹479,33% off
97,ASTEROID,CLARKIN 2.0 Sneakers For Men,₹499,57% off
98,Robbie jones,Sneakers For Men,₹499,60% off
99,Roadster,Sneakers For Men,"₹1,299",35% off

# Q7: Scrape First 100 shoes data from https://www.myntra.com/shoes. The data should include “Brand” of the shoes , Short description, price of the shoe

In [92]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [93]:
driver.get('https://www.myntra.com/shoes')

In [94]:
money_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
money_filter.click()

In [95]:
color_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [96]:
brand=[]
prod_des=[]
price=[]

In [97]:
for i in range(0,2):
    names_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in names_tags:
        names=i.text
        brand.append(names)
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a")
    next_button.click()
    time.sleep(5)

In [98]:
brand=brand[0:100]

In [99]:
for i in range(0,3):
    descp_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in descp_tags:
        descp=i.text
        prod_des.append(descp)
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a")
    next_button.click()
    time.sleep(5)

In [100]:
prod_des=prod_des[0:100]

In [101]:
for i in range(0,3):
    amt_tags=driver.find_elements_by_xpath("//div[@class='product-price']/span")
    for i in amt_tags:
        amount=i.text
        price.append(amount)
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a")
    next_button.click()
    time.sleep(5)

In [102]:
price=price[0:100]

In [103]:
print(len(brand),len(prod_des),len(price))

100 100 100

In [104]:
#Creating DataFrame


myntra_shoes = pd.DataFrame({'Brand': brand,' Product Description':prod_des, 'Price': price})
myntra_shoes

       Brand               Product Description              Price
0   Skechers          Men ENIGMA Running Shoes           Rs. 7499
1       Nike    Men Zoom C Pro HC Tennis Shoes   Rs. 8075Rs. 8500
2       Nike    Women Pegasus 39 Running Shoes           (5% OFF)
3       Puma                 Men Running Shoes  Rs. 9810Rs. 10900
4       Nike        Women React Escape Running          (10% OFF)
..       ...                               ...                ...
95  DAVINCHI          Men Formal Slip-On Shoes           Rs. 6999
96  DAVINCHI  Men Solid Leather Formal Slip-On           Rs. 8999
97      Geox              Women Open Toe Flats           Rs. 6799
98      Geox            Women Ballerinas Flats           Rs. 6999
99      Geox    Women Solid Leather Ballerinas  Rs. 7199Rs. 11999

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/ and scrape first 10 laptops data.

In [105]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [106]:
driver.get('https://www.amazon.in/')

In [107]:
product_name=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product_name.send_keys('Laptop')

In [108]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [109]:
cpu_type=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i")
cpu_type.click()

In [110]:
title=[]
rating=[]
price=[]

In [111]:
names_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
names_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="3d3328e0-d08b-42e0-9d22-561eaeb1c75e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="60e4126c-b679-46d7-8b24-9b22af5ffee1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="d5984cd2-b672-49d7-b797-3a02d8e04a46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="6cff69d2-5914-4679-a658-e54a0120b860")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="a7a8eb98-b5e4-434a-a4bc-72aacf919375")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="6e762b96-72f1-411d-8cf1-523e00c5433a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="a3c3cf96-2130-4397-9a5e-23a4338195b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="3c1dd6a4-f371-46c7-a5a1-7c2cbc8d6f01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="88c605ba-e93b-496d-af62-3c442b60b9d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="499fed2b-f02f-407d-b74c-1a48d0b7ed26")>]

In [112]:
for i in names_tags:
    titles=i.text
    title.append(titles)
title=title[0:10]
title

['Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'LG Gram 16 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4, USC -C x 2 / 1.19 kg, Black/ 3Yr Warranty] 16Z90P',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'LG Gram 17 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4/ USC -C x 2 / 1.35 kg, Black/ 3Yr Warranty] 17Z90P',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /3months Xbox Game Pass/Graphite Grey/1.5Kg), 82HS018XIN',
 'HP Pavilion 15 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 15.6 inch(39.6cm) FHD,IPS/Intel Iris Xe Graphics/B&O/Win 11/Alexa/Backlit KB/FPR/MSO 2021/1.75Kg, 15-EG2039TU, Natural Silver',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU']

In [113]:
rat_tags=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")
rat_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="ac2b774d-885f-4463-8e38-ec1ffddf2299")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="a94c5138-5660-4c4e-8b8c-cb06e85ae124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="369237d7-81f6-4bf4-88e3-0a033e0b2427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="33343f5f-9670-4809-b14c-a6347f0b01c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="39d89b96-824e-4e79-9752-87f79117b398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="9a422830-70e2-4e04-bd2d-f1abf120a5e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="af3a9be2-fe66-43cc-bd8f-dd3217e0329f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="a47806a0-961e-4698-bd3a-af7ac5dcbc86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="a8ca91b5-15e3-4be7-8241-890860d65168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="62287f29-bc9b-4b80-a0bb-caad2444e3f1")>]

In [114]:
for i in rat_tags:
    rate=i.text
    rating.append(rate)
rating=rating[0:10]
rating

['7', '136', '7', '121', '11', '163', '16', '12', '3', '6']

In [115]:
amount_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
amount_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="59eaa9b0-8653-45df-b1e4-58e9774ad852")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="62123736-e8d2-4c43-8252-0c3c0216701a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="aa3e0115-9223-4004-a593-2bb79f5fd4a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="92509952-7f55-4ea1-a295-0042a90b2455")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="c3f5e32f-d977-4e36-b2ed-654bb7b3e193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="9e1365a6-8a1b-4772-b28f-2c7a2aef9cc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="1c2f319e-2f0d-4b1a-a3d0-20415a354e55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="c2053ea6-0e22-4957-a947-817c7510ed94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="c4b1e77e-fc49-4e73-b8d3-4a7b1767d1f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="721f0d8bf9d10adf5443a727e0073b12", element="bdb7f65d-56b9-428a-9a19-b6ef68c0c4e9")>]

In [116]:
for i in amount_tags:
    amt=i.text
    price.append(amt)
price=price[0:10]
price

['75,309',
 '86,490',
 '75,309',
 '57,490',
 '79,990',
 '88,490',
 '83,990',
 '81,490',
 '89,791',
 '84,490']

In [117]:
print(len(title),len(rating),len(price),len(price))

10 10 10 10

In [118]:
#Creating DataFrame


i7_laptops = pd.DataFrame({'Title': title,'Ratings':rating, 'Price': price})
i7_laptops

                                               Title Ratings   Price
0  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...       7  75,309
1  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...     136  86,490
2  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...       7  75,309
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...     121  57,490
4  Samsung Galaxy Book2 Intel 12th Gen core i7 39...      11  79,990
5  LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...     163  88,490
6  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...      16  83,990
7  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...      12  81,490
8  HP Pavilion 15 12th Gen Intel Core i7 16GB SDR...       3  89,791
9  HP Pavilion x360 11th Gen Intel Core i7 14 inc...       6  84,490

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [2]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [3]:
driver.get('https://www.ambitionbox.com/')

In [4]:
job_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_button.click()

In [5]:
designation_name=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation_name.send_keys('Data Scientist')

In [6]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [7]:
loc_dropdown_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
loc_dropdown_button.click()

In [8]:
loc_noida_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
loc_noida_button.click()

In [9]:
company_name=[]
time=[]
ratings=[]

In [12]:
names_tag=driver.find_elements_by_xpath("//p[@class='company body-medium']")
names_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="bc4993bd-1c4a-401b-b63c-7512ab1d67b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="4455d38d-48d9-4a1c-9684-fa193b7f1216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="c5ba7532-630b-4e3e-a16b-c86a8e28868d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="dec3bda9-9f80-48a4-b267-e89004b758b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="ef1382d7-58e0-43d5-868e-4a47542c4b69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="6346b7cd-d78b-4eca-8217-39b61541cb16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="f9c02af8-0323-4b5e-a93a-3e233013f23c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="799bcc87-21da-46ce-a11e-db1c92f7c385")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="bbf52047-a3a9-4d58-8cc3-468318875b3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="7f29bc83-d9f1-4192-aad3-c46ae204ceab")>]

In [19]:
for i in names_tag:
    employers=i.text
    company_name.append(employers)
company_name

['Sanofi India Ltd',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'Wipro Limited',
 'Optum Global Solutions (India) Private Limited',
 'Tata Consultancy Services Ltd.',
 'Tata Consultancy Services Ltd.',
 'Thomson Reuters India Pvt Ltd',
 'MetLife Global Operations Support Center Pvt. Ltd.',
 'Teamlease Servcies limited']

In [20]:
days_ago_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")
days_ago_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="f8e94621-5470-42e0-b177-df45e85a4975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="482d992f-0ca4-4d99-93be-a674cb2d2cd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="ea9d1157-41eb-4337-8af3-955afc0e784b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="6d29f85e-1695-432f-829d-85ac77445e09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="a0f91c67-e5ed-46c0-acad-fcb67798dfa7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="2d03f45f-fc73-424a-a582-fa09528406fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="e71f8204-9a10-4261-9b49-b8fb1d5b2238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="260cbd5f-64c2-4ae3-8621-e8756f94cd0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="38cc6c5e-ef27-4312-852c-0f5f4675a95b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="380b79fa-8888-498d-9d2d-8997277b1a3a")>]

In [21]:
for i in days_ago_tags:
    clock=i.text
    time.append(clock)
time=time[0:20:2]
time

['11d ago',
 '8d ago',
 '9d ago',
 '8d ago',
 '16d ago',
 '11d ago',
 '12d ago',
 '25d ago',
 '25d ago',
 '29d ago']

In [22]:
rat_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
rat_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="f5dc42ee-575a-4ecd-97de-724424664609")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="e6093bd5-9072-4381-bf72-1156ab6d68e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="7afa9b29-d058-4c91-bd02-1194877c68c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="3a270b4b-a05d-4d3d-b015-783210d0ccd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="a817aadb-5541-4e08-8838-d9892032fa34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="c9d6c466-118d-4dcf-86e1-41a04ac070f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="2497b678-da1d-4e67-aefb-7d5de6590eda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="df635ac7-3c7d-47c8-b2c8-418fb64c87f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="cc79456b-d5b9-432e-ac59-2ddf412fd9bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="55faa280fa4ee93eb0a651746d424bf3", element="66227975-d294-4923-ae6c-d9b8303a5167")>]

In [23]:
for i in rat_tags:
    rate=i.text
    ratings.append(rate)
ratings=ratings[0:10]
ratings

['4.5', '4.0', '4.0', '3.9', '4.2', '3.9', '3.9', '4.4', '4.4', '4.1']

In [24]:
print(len(company_name),len(time),len(ratings))

10 10 10

In [25]:
#Creating DataFrame


ambition_box = pd.DataFrame({'Company Name': company_name,'No. of Days Ago':time, 'Ratings of the company': ratings})
ambition_box

,Company Name,No. of Days Ago,Ratings of the company
0,Sanofi India Ltd,11d ago,4.5
1,GENPACT India Private Limited,8d ago,4.0
2,GENPACT India Private Limited,9d ago,4.0
3,Wipro Limited,8d ago,3.9
4,Optum Global Solutions (India) Private Limited,16d ago,4.2
5,Tata Consultancy Services Ltd.,11d ago,3.9
6,Tata Consultancy Services Ltd.,12d ago,3.9
7,Thomson Reuters India Pvt Ltd,25d ago,4.4
8,MetLife Global Operations Support Center Pvt. ...,25d ago,4.4
9,Teamlease Servcies limited,29d ago,4.1

# Q10: Write a python program to scrape the salary data for Data Scientist designation.

You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [58]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [59]:
driver.get('https://www.ambitionbox.com/')

In [60]:
salaries_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salaries_button.click()

In [61]:
designation=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data Scientist')

In [62]:
ds_button=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
ds_button.click()

In [63]:
company_name=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [64]:
names_tags=driver.find_elements_by_xpath("//div[@class='name']/a")
names_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="17c4a6f0-96de-4376-94e9-461bcd6636b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="4304453d-92e3-4308-9f77-ae61bd255fbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="4f76f740-0afd-4f94-9b5d-700d965a12fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="bfd39de8-183e-4d02-987a-443992eb15dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="0b203497-6961-4c3d-a3d4-b09d8a065948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="bffbd27e-68ef-45b8-a0ce-c23e989639a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="ac132fa3-7a73-4827-822a-ef99843be054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="a0f67c41-dbbe-4952-ad56-d617bdf0d457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="00579dfe-ac02-411f-bf82-88f179741ab3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="96398f97-4c6a-468a-b3d9-d804197e5dc7")>]

In [65]:
for i in names_tags:
    employers=i.text
    company_name.append(employers)
company_name=company_name[0:10]
company_name

['Walmart',
 'Ab Inbev',
 'American Express',
 'ZS',
 'Optum',
 'Reliance Jio',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'EXL Service']

In [66]:
no_of_sal=driver.find_elements_by_xpath("//div[@class='name']/span")
no_of_sal[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="b958c457-7d33-45f8-ad4d-990b968b0ee8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="7c112a57-7726-4b9d-a61c-abd1ee26818f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="032732c6-d322-4366-9c8b-553ee594ae12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="b40bbd7f-e02d-41dd-9915-1d540a84b002")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="3c8c2f57-9bfb-4df5-a2c7-be1962dba967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="49fc0907-45b2-4c9f-ab12-d06e3a81e390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="8e736bf4-3ab5-472a-abd0-63ad60e1ea87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="bd00bf25-bf48-473f-b0a0-dee210cbb9bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="7e74b48d-bed3-4c50-bf8c-695296e688e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="ff89f2d7-28b3-4179-a1a4-71a00c1b9a91")>]

In [67]:
for i in no_of_sal:
    num=i.text
    total_salary_record.append(num)
total_salary_record=total_salary_record[0:10]
total_salary_record

['based on 12 salaries',
 'based on 33 salaries',
 'based on 10 salaries',
 'based on 15 salaries',
 'based on 33 salaries',
 'based on 21 salaries',
 'based on 83 salaries',
 'based on 50 salaries',
 'based on 57 salaries',
 'based on 10 salaries']

In [68]:
avg_sal_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
avg_sal_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="7efb4c23-e52a-4e74-9d5a-9b59a474f05a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="3c0055b5-4946-46fa-9262-fda8c070fe4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="bbd23afe-92f5-48b3-98aa-daf28d6fdecb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="a912d746-252b-43d1-a304-17ad3926e543")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="49357906-94b2-4b86-9ee8-1d5ea10741e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="64448c73-b6c4-4c96-946d-1d36189cb7e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="51192d4f-93ed-4be9-bfbf-a2a6b36c0a16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="d48d2fbf-8e3a-4441-9d7e-d0c48a0d8e61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="37a8e8bb-d370-4809-a4c4-2b54ebad1fcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="f318e2da-97ca-47cf-8eaf-e07ac0f66202")>]

In [69]:
for i in avg_sal_tags:
    sal_avg=i.text
    average_salary.append(sal_avg)
average_salary=average_salary[0:10]
average_salary

['₹ 30.2L',
 '₹ 20.6L',
 '₹ 19.9L',
 '₹ 16.7L',
 '₹ 16.1L',
 '₹ 15.7L',
 '₹ 15.4L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.3L']

In [70]:
min_sal_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
min_sal_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="722329e1-d950-47e6-9dba-2957622c2532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="ff25a6e4-d86b-4f25-88eb-09621bbaae9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="1c28638d-f2c7-42c7-88ea-181363513e43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="ea2d9ef5-c31d-4561-aab3-ff9b31717e24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="e5deb8de-aeaa-4482-acba-d4619d69d871")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="026037a2-e0dd-45ed-b4c4-f27c4b47eb66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="835fc6e8-f115-490f-a579-a1235fb9254e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="5801cef1-8623-4ee9-ada6-5cce926d0f51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="e2466d01-e2d5-4e63-af6e-aeddeed40dfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="0279c9ac-1b12-489a-8b2c-84594d6dfb1f")>]

In [71]:
for i in min_sal_tags:
    sal_min=i.text
    minimum_salary.append(sal_min)
minimum_salary=minimum_salary[0:20:2]
minimum_salary

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 14.1L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 8.9L']

In [72]:
max_sal_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
max_sal_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="722329e1-d950-47e6-9dba-2957622c2532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="ff25a6e4-d86b-4f25-88eb-09621bbaae9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="1c28638d-f2c7-42c7-88ea-181363513e43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="ea2d9ef5-c31d-4561-aab3-ff9b31717e24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="e5deb8de-aeaa-4482-acba-d4619d69d871")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="026037a2-e0dd-45ed-b4c4-f27c4b47eb66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="835fc6e8-f115-490f-a579-a1235fb9254e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="5801cef1-8623-4ee9-ada6-5cce926d0f51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="e2466d01-e2d5-4e63-af6e-aeddeed40dfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="0279c9ac-1b12-489a-8b2c-84594d6dfb1f")>]

In [73]:
for i in max_sal_tags:
    sal_max=i.text
    maximum_salary.append(sal_max)
maximum_salary=maximum_salary[1:21:2]
maximum_salary

['₹ 36.0L',
 '₹ 25.5L',
 '₹ 25.0L',
 '₹ 22.0L',
 '₹ 22.6L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L']

In [74]:
exp_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="397f3c14-e5f1-4864-becb-2693980f9174")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="b916eab5-f8e4-419e-978e-1e65d7948f1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="f56dbf16-66fc-4c13-8e87-9bdac717598f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="ee377a5d-7638-44b4-ad54-d3eda449add7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="7c843239-25fa-42b0-a724-8dc3d7c9ebbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="428aa38d-9f92-4c56-ad17-d130e7ac1ef5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="e4adb430-672d-4eb8-9f85-1067f12b1b79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="777c2982-f1e8-401d-bb0d-320f784ba9fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="e0694e8e-85df-4d66-b5d9-1eff1538217f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="63dc4455d921415f0710bc31d297fb6b", element="588477f6-bf9c-416d-81c6-c820c0ccef30")>]

In [77]:
for i in exp_tags:
    exp_req=i.text.split('\n')[2]
    experience_required.append(exp_req)
experience_required

['3 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp']

In [78]:
print(len(company_name),len(total_salary_record),len(average_salary),len(minimum_salary),len(maximum_salary),len(experience_required))

10 10 10 10 10 10

In [79]:
#Creating DataFrame


ds_ambitionbox = pd.DataFrame({'Company Name': company_name,'Total Salary Record':total_salary_record, 'Average Salary': average_salary, 'Minimum Salary': minimum_salary, 'Maximum Salary': maximum_salary, 'Experience Required': experience_required})
ds_ambitionbox

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 12 salaries,₹ 30.2L,₹ 25.0L,₹ 36.0L,3 yrs exp
1,Ab Inbev,based on 33 salaries,₹ 20.6L,₹ 15.0L,₹ 25.5L,3-4 yrs exp
2,American Express,based on 10 salaries,₹ 19.9L,₹ 14.1L,₹ 25.0L,4 yrs exp
3,ZS,based on 15 salaries,₹ 16.7L,₹ 11.0L,₹ 22.0L,2 yrs exp
4,Optum,based on 33 salaries,₹ 16.1L,₹ 11.0L,₹ 22.6L,3-4 yrs exp
5,Reliance Jio,based on 21 salaries,₹ 15.7L,₹ 5.6L,₹ 26.2L,3-4 yrs exp
6,Fractal Analytics,based on 83 salaries,₹ 15.4L,₹ 10.0L,₹ 22.0L,2-4 yrs exp
7,Tiger Analytics,based on 50 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs exp
8,UnitedHealth,based on 57 salaries,₹ 14.0L,₹ 8.3L,₹ 21.1L,2-4 yrs exp
9,EXL Service,based on 10 salaries,₹ 13.3L,₹ 8.9L,₹ 21.0L,4 yrs exp